/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100%;
    padding-top: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 200px;
    margin: 0 auto 30px auto;
    display: flex;
    justify-content: center;
}

.logo img {
    width: 200px;
    height: auto;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    padding: 5px 0;
    text-align: center;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 100px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar nav ul li a:hover,
.sidebar nav ul li a.active {
    background-color: #1db954;
}

.main-content {
    margin-left: 270px; /* Adjusted for the sidebar width */
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 5px;
    width: calc(100% - 270px);
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
}

header h1 {
    margin: 0;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: 20px;
}

.logout-btn {
    background-color: #d9534f;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #c9302c;
}

.find-section {
    margin: 20px 0;
}

.find-section h2 {
    margin-bottom: 10px;
}

.search-container {
    display: flex;
    margin-bottom: 20px;
}

.search-container input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #333;
    color: #ffffff;
}

.search-container .filter-btn {
    background-color: #1db954;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.search-container .filter-btn:hover {
    background-color: #1aa34a;
}

.campaign {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a2a2a;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.campaign span {
    flex-grow: 1;
}

.view-btn, .request-btn {
    background-color: #1db954;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}

.view-btn:hover, .request-btn:hover {
    background-color: #1aa34a;
}
